<h3>Rate a book with Haiku!</h3>

<div id="form">

  <form action='/post' method='post'>
    <input type="text" name="book" placeholder="Book to haiku?">
    <input type="text" name="author" placeholder="Author?">
    <input type="textfield" name="poem" placeholder="Type your haiku:">
    <input type="submit"></input>
  </form>

</div>

