<!DOCTYPE html>

<html>

<head>
  <title>All of the Haiku</title>
</head>

<body>
<h1>The Haiku Reviewer</h1>
  <img style="width: 400px; height: auto" src="http://www.writeratplay.com/wp-content/uploads/2012/05/samurai.Haiku-001.jpg">
  <%= yield %>
</body>

</html>